body {
    font-size: 15px;
    font-family: Righteous;
    font-weight: Regular;
    line-height: 1.2;
    background: url(../media/gmaps.png);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(33, 74, 87, 0.9);
}

.headingtext {
    padding-top: 15%;
    padding-bottom: 10%;
}
button:hover{
    cursor: pointer;
}

button{
    margin-top: 20px;
    border: none;
}